SOURCES/kernel-abi-whitelists-862.tar.bz2
SOURCES/kernel-kabi-dw-862.tar.bz2
SOURCES/linux-3.10.0-862.3.3.el7.tar.xz
SOURCES/rheldup3.x509
SOURCES/rhelkpatch1.x509
SOURCES/centos-kpatch.x509
SOURCES/centos-ldup.x509
SOURCES/centos.cer
